---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortBlocksOnASingleLine: true 
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false
---
