
# misc OS/development debris
.DS_Store
.[Tt]rash*
.cache
.directory
.direnv
.vs
.vscode
compile_commands.json
desktop.ini

# intermediate object files
/obj

# compiled EFI application
/BOOTX64.EFI

# testing disk image
/snakEFI.img

# nix output directory
/result
